* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/dota2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 1rem;

  & > h3 {
    color: white;
  }

  & > h1 {
    color: white;
  }

  & > p.description {
    color: white;
  }

}

nav.btns {

  & > a.button {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  
    &:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
    }
  
    @media (min-width: 768px) {
      .a {
        padding: 0.25em 0.75em;
      }
    }
  }
}

