* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/dota2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  
  & > h3 {
    color: white;
  }

  & > h1 {
    color: white;
  }

  & > p.description {
    color: white;
  }
}

