* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header.top-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0rem;
  background: rgb(63,94,251);
  background: linear-gradient(rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);

  & > img.icon {
    height: 50px;
  }

  & > a {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:before {
    content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  }

  &:after {
    z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  }
  
  @keyframes glowing-a {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  }
}

div.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 15rem;
  padding-right: 50rem;
  background: url(../img/void.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  gap: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.second-feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 0.5px white;
  background: gray;
  gap: 1rem;

  & > div.abilities {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5rem;
  }
}

section.third {
  background: url(../img/voidc.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100dvh;
  gap: 1rem;
  color: white;

  & > div.title {
    font-weight: 1000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  & > div.lore {
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
  }
}

section.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background: black;
  color: white;
  padding-bottom: 1rem;
  gap: 2rem;

  & > div.icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    gap: 1rem;

    & > img.icon1 {
      height: 50px;
      width: 50px;
    }

    & > img.icon2 {
      height: 50px;
      width: 50px;
    }
  }
}
